body {
  background: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 40px,
    rgba(0, 0, 0, 0.8) 40px,
    rgba(0, 0, 0, 0.8) 80px
  ), url(../img/grunge.png); 
  background-position-x: initial;
  background-size: cover;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  -webkit-box-shadow: inset 0px 0px 10vh 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 10vh 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 10px 0vh rgba(0,0,0,0.75);


}

.container {
  width: 90%; 
  max-width: 480px; 
  margin: auto; 
  display: block; 

}



.instructions {
  width: 100%;  
  text-align: center; 
  margin-bottom: 1rem;
  color: #fff; 
  text-shadow: 1px 1px 2px black; 

}
.board {
  width: 300px;
  height: 300px; 
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 auto 1rem;
  background-color: #fff;

  .square {
    width: 33.3%;
     box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
    float: left; 
  }
}
.your-turn {
  width: 300px; 
  margin: auto; 
  background-color: #000; 
  color: #fff; 
  font-weight: bold;
  text-align: center; 
  padding: 1rem 0;
}